@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Open+Sans:wght@300&family=Libre+Baskerville&family=Lora&family=Poppins:wght@100;200;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
h1,
h3 {
  text-align: center;
  font-family: "Lora", serif;
}

nav {
  background-color: #216869;
  border: solid black 1px;
  margin: 0 auto;
  display: block-inline;
  width: 100%;
}
li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 30px;
}

a {
  color: #dce1de;
  text-decoration: none;
}

a:hover {
  color: #8fa6cb;
}

.colors {
  padding: 5px;
}
.box {
  border: solid black 1px;
  margin-top: 10px;
}
.title {
  padding-left: 20px;
  letter-spacing: 1px;
}

.colors div {
  text-align: center;
  display: inline-block;
  height: 100px;
  width: 100%;
  position: relative;
}
.colors p {
  padding: 10px;
}
.dark {
  color: white;
}
.light {
  color: black;
}

.new-palette {
  margin-top: 20px;
}

.sample-text {
  padding-left: 50px;
}
